<h1>DopeTube</h1>

<div class="search-container" ng-app="YoutubeMp3">
	<div class="col-sm-6">
		<%= form_tag("/home/search", method: "get") do %>
			<%= label_tag(:q, "Search for dope song mayng:") %>
			<%= text_field_tag(:q) %>
			<%= submit_tag("Search") %>
		<% end %>
	</div>
	<%= form_tag("/home/add_to_cart", method: "get")  do %>
	<div class="col-sm-4">
		<%= submit_tag "Add to \"Cart\"" %>
	</div>
	<div class="col-sm-2">
		<a href="/carts" roll="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Cart
		</a>
	</div>
	<% @videos.each do |video| %>
		<div class="container">
			<div class="row">
				<h2><%= video.title %></h2>
				<!-- Embed video holder -->
				<div class="col-sm-4 vid-container">
			  		<iframe class="video" id="ytplayer" type="text/html"
  					src="<%= video.embed_url %>"
  					frameborder="0"></iframe>
			  	</div>
			  	<!-- Video title and description holder -->
			  	<div class="col-sm-6">			  		
			  		<p><%= video.description %></p>
			  		<b><%= video.duration %></b>
			  	</div>
			  	<div class="col-sm-2">
			  		<label>
						<input type="checkbox" name="video_ids[]" value='<%= video.vid_id %>' data-toggle="toggle"><br>
						Queue For Cart
					</label>
			  	</div>
			</div>
		</div>
	<% end %>
	<% end %>
</div>