<p id="notice"><%= notice %></p>

<h1>Listing Mp3s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Length</th>
      <th>File size</th>
      <th>File format</th>
      <th>Download path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mp3s.each do |mp3| %>
      <tr>
        <td><%= mp3.title %></td>
        <td><%= mp3.artist %></td>
        <td><%= mp3.length %></td>
        <td><%= mp3.file_size %></td>
        <td><%= mp3.file_format %></td>
        <td><%= mp3.download_path %></td>
        <td><%= link_to 'Show', mp3 %></td>
        <td><%= link_to 'Edit', edit_mp3_path(mp3) %></td>
        <td><%= link_to 'Destroy', mp3, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mp3', new_mp3_path %>
